@model HelloRestApi.ViewModels.ChatViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="inbox_chat">
    <div class="chat_list active_chat">
        <div class="chat_people">
            @foreach (var item in Model.Helloes)
            {
                <div class="chat_ib mb-3">
                    <h5>@Html.DisplayFor(modelItem => item.Author) <span class="chat_date">@Html.DisplayFor(modelItem => item.TimeStamp)</span></h5>
                    <p>
                        @Html.DisplayFor(modelItem => item.Message)
                    </p>
                </div>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

